body{
background-color: black;
}

.sejp{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size:x-large;
    text-align: center;
}

.yt{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sc{
    padding-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}